<aside>
    <form name="contact-products" method="POST" data-netlify="true" class="rounded bg-gray-100 p-4 pb-8 sticky top-0">
        <h2 class="text-3xl text-indigo-700 mb-4 border-b-2 pb-4 font-semibold">Learn more</h2>

        <p class="text-sm mb-4">Interested in learning more about what Tetraco, LLC has to offer your business?</p>

        <p class="text-sm mb-8">Get in touch with us today to discuss our products and how we can help you get your job done right and fast.</p>
        <div class="mb-4">
            <label class="font-semibold text-blue-800 mb-2 block" for="contact-name">Name</label>
            <input class="rounded border-2 block w-full p-2 text-base" type="text" required id="contact-name" name="contact-name" autocomplete="name">
        </div>

        <div class="mb-4">
            <label class="font-semibold text-blue-800 mb-2 block" for="organization">Organization</label>
            <input class="rounded border-2 block w-full p-2 text-base" type="text" required id="organization" name="organization" autocomplete="organization">
        </div>

        <div class="mb-8">
            <label class="font-semibold text-blue-800 mb-2 block" for="phone">Business Phone Number</label>
            <input class="rounded border-2 block w-full p-2 text-base" type="tel" required id="phone" name="phone" autocomplete="name">
        </div>

        <button type="submit" class="rounded bg-blue-700 hover:bg-blue-800 active:hover:bg-blue-900 text-white w-full py-2 font-medium">Get in touch</button>
    </form>
</aside>